{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Bangazon</title>
</head>

<body>
	{% block content %}
	<link rel="stylesheet" type="text/css" href="{% static 'website/styles.css' %}" /> {% include "navbar.html" with nav_location=view.location %}

	<a href="{% url 'website:sell' %}">Sell Your Stuff!</a>
	<h1>Category</h1>
	{% for category in categories %}
	<div>
		<h2><a href="{% url 'website:category'  %}">{{category}}</a></h2>
		{% for product in products %}
			{% if product.category == category %}
			<p><a href="">{{product}}</a></p>
			{% endif %}
		{% endfor %}
	</div>
	{% endfor %} {% endblock %}
</body>

</html>