{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
		<link rel="stylesheet" type="text/css" href="{% static 'website/styles.css' %}" />
		{% include "navbar.html" with nav_location=view.location %}




    <h1>{{prod.title}}</h1>
        <p>Date Added: {{ prod.date_added}}</p>
        <p>Description: {{prod.description}}</p>
        <p>Seller: {{prod.seller}}</p>
        <p>Price: {{prod.price}}</p>
        <p>Quantity: {{prod.quantity}}</p>
        <p>Category: {{prod.category}}</p>
        <p>Location: {{prod.location}}</p>




</body>
</html>