{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
		<link rel="stylesheet" type="text/css" href="{% static 'website/styles.css' %}" />
		{% include "navbar.html" with nav_location=view.location %}




    <h1>{{product.title}}</h1>
        <p>Date Added: {{ product.date_added}}</p>
        <p>Description: {{product.description}}</p>
        <p>Seller: {{product.seller}}</p>
        <p>Price: {{product.price}}</p>
        <p>Quantity: {{product.quantity}}</p>
        <p>Category: {{product.category}}</p>
		<p>Location: {{product.location}}</p>
		<button>Add to Cart</button>



    <a href="{% url 'website:products' %}">List Products</a>

</body>
</html>