{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bangazon</title>
  </head>
  <body>
	{% block content %}
	<link rel="stylesheet" type="text/css" href="{% static 'website/styles.css' %}" />
	{% include "navbar.html" with nav_location=view.location %}

    <a href="{% url 'website:sell' %}">Sell Your Stuff!</a>
    <h1>Products</h1>
      <div>
        <a href="{% url 'website:detail' product.pk %}">{{product.id }} {{product.title}}</a>
      </div>
        {% endfor %}

    {% endblock %}
  </body>
</html>

